<!-- здесь распологаются элементы которые будут повторяться/использоваться на всех страницах -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <a href="{% url 'main:product_list' %}">Список продуктов</a>
  от базового шаблона наследуются все остальные шаблоны, которые мы будем создавать. В базовом шаблоне мы определяем
  общую структуру HTML-документа, которая будет использоваться на всех страницах нашего сайта. В данном случае, мы
  определили блоки title и content, которые будут заполняться конкретным содержимым на каждой странице. Блок title будет
  использоваться для установки заголовка страницы, а блок content будет использоваться для вставки основного контента
  страницы. Таким образом, мы можем создавать разные страницы с разным содержимым, но при этом сохранять общую структуру
  HTML-документа.
  {% block content %}{% endblock content %}
</body>

</html>